.dark-mode {
  background-color: #1a1a1a !important;
  color: #f5f5f5 !important;
}

.dark-mode header {
  background-color: #2a2a2a !important;
}

.dark-mode nav a {
  color: #ddd !important;
}

.dark-mode nav a:hover {
  background-color: #444 !important;
  color: white !important;
}

.dark-mode .card {
  background-color: #2b2b2b !important;
  color: white !important;
}

.dark-mode .inicio,
.dark-mode .sobre,
.dark-mode .seguranca,
.dark-mode .saude {
  background: #2c2c2c !important;
  color: white !important;
}